<div class="filter">
  <input type="text"
          [(ngModel)]="employeeFullName"
         placeholder="Employyes name">
</div>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let item of columns|keyvalue:onCompare">
        <span (click)="sortByColumn(item.key)">{{item.value|titlecase}}</span>
        <br>
        <span (click)="getData(item.key)"
              class="delete-column">Delete</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
        *ngFor="let employee of employees | filterUser: employeeFullName |paginate : { itemsPerPage: tableSize, currentPage: page,}; let i = index">
      <td [style.visibility]="isVisible('isActive')">
        {{employee.isActive ? 'Yes':'No'}}
      </td>
      <td>   {{employee.name?.first ?? 'No first name'}}
      </td>
      <td>
        {{employee.name?.last ?? 'No last name'}}
      </td>
      <td [style.visibility]="isVisible('age')">
        {{employee.age}}
      </td>
      <td [style.visibility]="isVisible('balance')">
        {{employee.balance}}
      </td>
      <td [style.visibility]="isVisible('company')">
        {{employee.company}}
      </td>
      <td [style.visibility]="isVisible('email')">
        {{employee.email}}
      </td>
      <td [style.visibility]="isVisible('address')">
        {{employee.address}}
      </td>
      <td [style.visibility]="isVisible('tags')">
        {{employee.tags}}
      </td>
      <td [style.visibility]="isVisible('favoriteFruit')">
        {{employee.favoriteFruit}}
      </td>
    </tr>
  </tbody>
</table>
<div class="paginator">
  <select name="page"
          id="page"
          [(ngModel)]="tableSize">
    <option *ngFor="let size of tableSizes">{{size}}</option>
  </select>
  <pagination-controls previousLabel="Prev"
                       nextLabel="Next"
                       (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div>
