<div class="filter">
  <input type="text"
          [(ngModel)]="employeeFullName"
         placeholder="Employyes name">
</div>
<table class="table">
  <thead>
    <tr>
      <th (click)="sortByColumn('isActive')">Is Active</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th (click)="sortByColumn('age')">Age</th>
      <th (click)="sortByColumn('balance')">Balance</th>
      <th (click)="sortByColumn('company')">Company</th>
      <th (click)="sortByColumn('email')">Email</th>
      <th (click)="sortByColumn('address')">Address</th>
      <th>Tags</th>
      <th (click)="sortByColumn('favoriteFruit')">Favorite fruit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees | filterUser: employeeFullName">
      <td>{{employee.isActive ? 'Yes':'No'}}</td>
      <td>{{employee.name?.first ?? 'No first name'}}</td>
      <td>{{employee.name?.last ?? 'No last name'}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.balance}}</td>
      <td>{{employee.company}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.address}}</td>
      <td>{{employee.tags}}</td>
      <td>{{employee.favoriteFruit}}</td>
    </tr>
  </tbody>
</table>
